.home {
    position: relative;
    top: 70px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerContainer {
    width: auto;
    margin-left: 50px;
}

.headerContainer h1 {
    justify-content: center;
    font-size: 90px;
    height: 60px;
    align-items: center;
    font-weight: 50;
    color: rgb(39, 22, 134);
}

.headerContainer p {
    color: tomato;
    font-size: 40px;
    font-weight: lighter;
    padding: 0;
}

.headerContainer button {
    color: tomato;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    justify-content: center;
    height: 50px;
    width: 180px;
    background-color: rgb(238, 221, 238);
    font-size: 20px;
    transition: 0.2s ease-in;
}

.headerContainer button:hover {
    letter-spacing: 1px;
    background-color: rgb(230, 198, 230);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in;
}

@media only screen and (max-width: 650px) {
    .home {
        justify-content: center;
        align-items: center;
    }

    .headerContainer {
        margin: 0;
        border-radius: 10px;
        padding: 10px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(172, 170, 82);
        color: white;
    }

    .headerContainer h1 {
        font-size: 40px;
        height: 30px;
    }

    .headerContainer p {
        font-size: 30px;
    }

    .headerContainer button {
        margin-bottom: 30px;
    }

}